<div class="row">
  <mat-form-field class="example-form-field">
    <mat-label>Question</mat-label>
    <label>
      <input matInput type="text" [(ngModel)]="question">
    </label>

  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>marks</mat-label>
    <label>
      <input matInput type="number" [(ngModel)]="marks">
    </label>

  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Answer</mat-label>
    <label>
      <textarea matInput #message placeholder="write youre ans here" [(ngModel)]="ans"></textarea>
    </label>
    <mat-hint align="end">{{message.value.length}}</mat-hint>
  </mat-form-field>
</div>
<div>
  <button mat-raised-button color="primary" (click)="addQuestion()">create Question</button>
  <button mat-raised-button color="primary" (click)="onNoClick()">close</button>
</div>
